@model IEnumerable<WSAD_App1.Areas.Admin.Models.ViewModels.ManageUserSessions.SessionListByUserViewModel>

@{
    ViewBag.Title = "SessionListByUser";
}

<h2>User Sessions</h2>
<div>
    <label>Enroll User in a Session</label>
    @Html.TextBox("SessionSearch", null, new { placeholder = "Type Session Name to Search: ", @class="form-control" })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SessionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SessionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
@section scripts{
    @Scripts.Render("~/bundles/jqueryui")
    <script>
        $(function () {
            $("#SessionSearch").autocomplete({
                source: "@(Url.Content("~/api/SessionSearch"))",
                minLength: 1,
                select: function (event, ui) {
                    var sessionId = ui.item.Id;
                    window.location =
                        "@(Url.Action("EnrollUserInSession", new { Model.FirstOrDefault()?.SessionId }))" +
                        "&sessionId=" + sessionId;
                }
            })
            .autocomplete("instance")._renderItem = function (ui, item) {
                return $("<li>")
                    .append("<a>" + item.Course + "<small> (" + item.Instructor + ")<small></a>")
                    .appendTo(ui);
            }
            ;
        });
    </script>    

}
