@model List<WSAD_App1.Models.ViewModels.Course.EnrollSessionViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Enroll in Sessions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Enroll", "Course"))
{
    <button type="submit" class="btn btn-danger">Enroll</button>

<table class="table">
    <tr>
        <th>&nbsp;</th>
        <th>
            Course
        </th>
        <th>
            Instructor
        </th>
        <th>
            MeetingDate
        </th>
        <th>
            MeetingTime
        </th>
        <th>
            Occupancy
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@
@for (int i = 0; i < Model.Count; i++)
{
    var item = Model[i];
    <tr>
        <td>
                @Html.HiddenFor(x => Model[i].Id)
                @Html.CheckBoxFor(x => Model[i].IsSelected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupancy)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>

<button type="submit" class="btn btn-danger">Enroll</button>
}
